.container {
    border: 2px solid var(--header-colour);
    display: grid;
    grid-template-columns: 5fr 2.5fr 5fr;
    max-width: 800px;
    padding: 0.5rem;
    /* width: 400px; */
}

.panel {
    display: grid;
    padding: 0.5rem;
    grid-row-gap: 1rem;
}

.information {
    grid-column: span 3;
}

.element {
    border: 1px solid white;    
    padding: 1rem;
}

.element-header {
    background-color: var(--bg-colour);
    position: relative;
    top: -1.6rem;
    left: -0.7rem;
    padding: .3rem;
    font-weight: 500;
}

.element-content {
    position: relative;
    top: -.5rem;
}

/* Product tables */

.table-row {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr;
    padding: 0.1em;
    text-transform: capitalize;
}

.table-header {
    background-color: var(--sub-header-colour);
    color: var(--text-colour3);
    font-weight: 500;
}

.table-item {
    font-size: 1em;
}

.table-item:hover {
    cursor: pointer;
    background-color: var(--text-colour1);
    color: var(--text-colour3);
    font-weight: 500;
}

.selected {
    border: 1px solid var(--header-colour);
}

.highlighted {
    background-color: var(--interest-colour);
    color: var(--text-colour3);
    font-weight: 500;
}

/* Status Window Styling */

.status-window {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: .2rem;
}

.stat-panel {
    border: 1px solid var(--info-colour);
    padding: 0.3rem;
}

.stat-label {
    text-transform: capitalize;
}

.stat-day, .stat-cash, .stat-bank, .stat-debt {
    display: flex;
    justify-content: space-between;
}

.stat-location, .stat-health {
    grid-column: span 3;
}

.stat-rank, .stat-cash, .stat-bank, .stat-debt {
    grid-column: span 2;
}

.stat-graph {
    grid-row: span 3;
}

/* modal styling */

dialog {
    background-color: var(--bg-colour);
    color: var(--text-colour1);
    max-width: 25rem;
    border: 1px solid var(--header-colour);    
    position: fixed;
    top: -20%;
    padding: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

dialog::backdrop {
    background-color: black;
    opacity: 0.6;
}

.modal {
    display: grid;
    grid-template-rows: 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-colour);
    color: var(--text-colour3);
}

.modal-icon {
    width: 24px;
    margin-top: 0.3em;
}

.modal-title, .modal-close {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.modal-title {
    font-weight: 500;
    gap: 0.5em;
}

.modal-close {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
}

.modal-input {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.modal-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.modal-action button {
    width: 6rem;
    /* padding: .5rem; */
}


/* Form element styling */

.qty-width {
    width: 4rem;
}